@media (max-width: 1000px){
	header nav,.menu,.user-info{
		width: 100%;
	}

	.menu{
		top: 0;
	}
	.menuactive{
        margin-top: 0;
    }
}

@media (min-width: 1000px){
	.main{
		width: 1000px;
	}
}
@media (max-width: 500px){
	.user{
		width: 30px;
		height: 30px;
	}
	.logo {
		width: 40px;
		height: 40px;
	}

	hearder nav {
		border-radius: 3px;
	}
}
